bakoma.zip

core.dump
core.dump.gz
core.dump.original
core.dump.gz.original
tex.wasm
tex.wasm.gz
tex.wasm.original
tex.wasm.gz.original

dist
node_modules
.vim
misc

public/fonts
public/tex_files

# Python cache
__pycache__/
*.py[cod]
*$py.class

# MkDocs documentation build/cache
site/site/
site/.cache/