{% extends "base.html" %}

{% block htmltitle %}
{{ super() }}
<title>{{ base_url }}</title>
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}

{% block libs %}
    {{ super() }}

    <!-- <script src="{{ 'assets/javascripts/tikzjax.config.js' | url }}"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@rod2ik/tikzjax@1.1.10/dist/fonts.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@rod2ik/tikzjax@1.1.10/dist/tikzjax.min.js"></script>

    <script src="{{ 'assets/javascripts/dynabadges.config.js' | url }}"></script>
    <script type="module" src="{{ 'assets/javascripts/dynabadges.js' | url }}"></script>

{% endblock %}

{% block footer scoped %}
  {% include "partials/footer.html" with context %}
{% endblock %}
