{% extends "base.html" %}

{% block htmltitle %}
{{ super() }}
<title>{{ base_url }}</title>
{% endblock %}

{% block content %}
{{ super() }}
{% endblock %}

{% block libs %}
{{ super() }}

<script src="{{ 'assets/javascripts/tikzjax.config.js' | url }}"></script>

<!-- PRODUCTION CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@rod2ik/tikzjax@__TIKZJAX_VERSION__/dist/fonts.min.css">
<script src="https://cdn.jsdelivr.net/npm/@rod2ik/tikzjax@__TIKZJAX_VERSION__/dist/tikzjax.min.js"></script>

<!-- DEV CDN : DO NOT USE PLEASE-->
<!-- <link rel="stylesheet" href="https://rod2ik.github.io/cdn/tikzjax/fonts.min.css">
<script src="https://rod2ik.github.io/cdn/tikzjax/tikzjax.min.js"></script> -->

<script src="{{ 'assets/javascripts/dynabadges.config.js' | url }}"></script>
<script type="module" src="{{ 'assets/javascripts/dynabadges.js' | url }}"></script>

{% endblock %}

{% block footer scoped %}
{% include "partials/footer.html" with context %}
{% endblock %}